<div class=" mainPage container-fluid">
    <div class="container login">
      <div class="row">
        <div class="col-sm-6 Content">
            <h2>Welcome to Breweries Store</h2>
            <div class="logiccontainer">
               {{value2}}&nbsp;&nbsp;+&nbsp;&nbsp;{{value1}}&nbsp;&nbsp;=
               <input [(ngModel)]="result" (keyup.enter)="login($event.target.value)" />
               <button (click)="login(result)" type="number" class="loginbtn"  mat-raised-button color="primary">Login</button>
            </div>
            </div>
            <div class="col-sm-6">
                <img src="../assets/Images/memory_storage.svg" class="img-fluid loginImg" alt="loginlogo">
             
               </div>
            </div>
            </div>
            </div>
        